div.main {
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: #ebebeb; //#f2f2f2;
  //background-color: white;
  background-image: url("../images/gplay.png");
}

.container{
    max-width:95%;
}

.aligner-center{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: calc(100vh - 3 * #{$navbar-height});
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}


.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -$navbar-height;
    height: $navbar-height;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;
    font-size: .9em;

    span {
      align-self: center;
      text-align: center;
    }
  }
}
