#site-navbar {
  background-color: $color-primary;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 1em 0 1em;
  text-align: center;
  min-height: $navbar-height;
}



#main-title {
    padding-left:20px;
}

.navbar-collapse a {
  display: inline-block;
  background: linear-gradient(to right, #6F7175 50%, white, white);
  background-clip: text;
  font-weight: 00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: 100%;
  transition: background-position 400ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  // margin-bottom: 1em;
  &:hover {
    background-position: 0 100%;
  }
}

#nav-external-buttons{
    a{
        color: white;
        &:hover{
            color: #6F7175;
        }
    }

}

.navbar-toggler{
    //height: max-conent;
    margin: auto;
    border: 0;
    &:focus{
        outline: 0;
    }
}

.navbar-toggler-icon{
    color: white;
}

.nav-link.active{
    &, .nav-fa-icon{
        -webkit-text-fill-color: white;
	font-weight:bold;
    }
}

.nav-fa-icon{
     margin: 0 .75em 0 .75em;
}

.nav-link{
     font-size: 1.5em;
}
