@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "projects";
@import "layout";
@import "navbar";
@import "hero";
@import "contact";

#index-content{
    margin-top: 2em;
    margin-bottom: 1em;
}

html{
    overflow-y: auto;
}

.w-30{
    width: 30%;
}

.page{
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

li{
    margin-bottom: 0;
}

.custom-bullets{
    list-style-type: none;
}
.email-icon:before {
  content: "📧";
  text-align:center;
  padding-right: 10px;
}

.phone-icon:before {
  content: "📱";
  padding-right: 10px;
  padding-left: 8px;
}

.discord-icon:before {
  content: "💬";
  text-align:center;
  padding-right: 10px;
}
