@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "projects";
@import "layout";
@import "navbar";
@import "hero";
@import "contact";

#index-content{
    margin-top: 2em;
    margin-bottom: 1em;
}

html{
    overflow-y: auto;
}

.w-30{
    width: 30%;
}
